<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" defer></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' defer></script>

    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}">FlakStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('index') }}">Home {% block home_nav %} {% endblock %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('catalog') }}">Catalog {% block catalog_nav %} {% endblock %}</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login {% block login_nav %} {% endblock %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Sign-Up {% block register_nav %} {% endblock %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <aside class="navbar navbar-expand-md navbar-dark bg-dark">
            {% with msg = get_flashed_messages(with_categories=true) %}
                {% if msg %}
                    {% for c, m in msg %}
                        <div class="container alert alert-{{c}} alert-dismissible fade show" role="alert">
                            <span class="text-center ">{{ m }}</span> &nbsp;
                            <button type="button" class="m1-2 mb-1" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </aside>
    
        <main class="container">
            {% block main %}
            {% endblock %}
        </main>

    <footer></footer>
</body>
<style>
    body {
        background-color: hsl(0, 8%, 5%);
        color: hsl(0, 0, 100);
    }
</style>
</html>