{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block register_nav %}<span class="sr-only">(current)</span>{% endblock %}

{% block main %}
<form action="" method="post" class="form-signin" style="color:white;">
    <section class="container text-center">
        {{ form.hidden_tag() }}
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
        {{ form.username.label(for="name-field") }}
        {{ form.username(class="form-control", placeholder="User Name", id="name-field") }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {{ form.password.label(for="password-field") }}
        {{ form.password(class="form-control", placeholder="User Password", id="password-field") }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password1.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <div class="chekbox mb-3">
          <a href="{{ url_for("register")}}" class="btn btn-sm btn-secondary"></a>
          <h4>Do not have an account?</h4>
        </div>

        {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
        <br>
    </section>
</form>
{% endblock %}